# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
*.env

# Temporary files
*.log
*.tmp
*.bak
*.swp
.DS_Store
*.sqlite3
*.db

# Uploads / runtime files
temp_image.png
temp_file.pdf

# VS Code config
.vscode/

# macOS system files
.DS_Store
